@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

html {
    scroll-behavior: smooth;
}

@media only screen and (max-width: 768px) {
    /* for mobile phones */
body {
    background-color: pink;
}

#BckgrVid {
    display: none;
}

.topnav {
    overflow: none;
    left: 0;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    gap: 5px;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#toplink {
    float: center;
    text-align: center;
    margin-right: 1em;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 1px;
    top: 1;
    left: 50%;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 50%;
    text-decoration: none;
    background-color: chocolate;
    color: white;
    border-radius: 10px;
}


.MunamiiLogo {
    width: 70%;
    height: auto;
    border-radius: 100%;
    display: flex;
}

.hero-sweet {
    display: block;
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    margin-top: 40%;
    margin-bottom: 10%;
    width: 20em;
    height: 10em;
    text-align: center;
    margin-left: 8%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    border-radius: 20px;
}

#hero-title {
    font-family: 'Oleo Script Swash Caps', cursive;
    color: chocolate;
    font-size: 250%;
}

#column-container {
    display: block;
    justify-content: center;
    justify-content: space-around;
}

.column-left {
    display: flex;
    overflow: scroll;
    overflow-x: auto;
    padding-top: 2em;
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    height: 30em;
    border-radius: 20px;
}

.column-left::-webkit-scrollbar {
    width: 0;
}

.column-left .merchleft {
    background: rgb(163, 224, 240);
    min-width: 90%;
    height: 100%;
    line-height: 110px;
    text-align: center;
    margin-left: 2em;
    border-radius: 20px;
}

.column-right {
    display: flex;
    overflow: scroll;
    overflow-x: auto;
    padding-top: 2em;
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    height: 30em;
    margin-top: 1em;
    margin-bottom: 5em;
    border-radius: 20px;
}

.column-right::-webkit-scrollbar {
    width: 0;
}

.column-right .merchright {
    background: rgb(163, 224, 240);
    min-width: 90%;
    height: 100%;
    line-height: 110px;
    text-align: center;
    margin-left: 2em;
    border-radius: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 200;
}

.popup {
    display: flexbox;
    margin: 105px auto;
    padding: 10px;
    padding-bottom: 3em;
    background: rgb(163, 224, 240);
    border-radius: 20px;
    width: 80%;
    height: 65%;
    position: relative;
    transition: all 2s ease-in-out;
    border: 10px solid hotpink;
    
}

.popup h2 {
    margin-top: 0;
    font-size: 160%;
    color: chocolate;
    font-family: 'Oleo Script Swash Caps', cursive;
}

.popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all 200ms;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: hotpink;
}

.popup .content {
    position: relative;
    display: block;
    float: center;
    text-align: center;
    max-height: 60%;
    overflow: auto;
    font-size: 130%;
    color: chocolate;
    background-color: white;
    margin-bottom: 1em;
    padding: 0em 1em 1em 1em;
    font-family: 'Oleo Script Swash Caps', cursive;
    margin-top: 5%;
    border-radius: 20px;
}

.price-tag {
    position: absolute;
    display: block;
    margin-top: -0.3em;
    background-color: white;
    max-width: 1em;
    max-height: auto;
    float: right;
    border: 4px solid chocolate;
    border-radius: 100%;
    padding-right: 1em;
    padding-left: 0.7em ;
    text-align: center;
    font-size: 300%;
    color: chocolate;
    font-family: 'Oleo Script Swash Caps', cursive;
}

#sweet {
    min-width: 60%;
    height: 50%;
    margin-top: 10%;
    border-radius: 20px;
}

#sweet-Name {
    color: chocolate;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 150%;
}

#sweet-text {
    display: none;
}

.footer {
    left: 0;
    display: inline-flex;
    background-color: white;
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    z-index: 1000;
}

#FB {
    height: 50px;
    width: auto;
    margin-left: 1em;
    margin-top: 0.3em;
}

#INSTA {
    vertical-align: top;
    height: 50px;
    width: auto;
    margin-left: 7em;
    margin-top: -3.3em;
}

}



@media only screen and (min-width: 768px) {
#BckgrVid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.topnav {
    left: 0;
    display: inline-block;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#toplink {
    float: right;
    display: block;
    color: hotpink;
    text-align: center;
    padding: 14px 16px;
    font-size: 200%;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Oleo Script Swash Caps', cursive;
    transition: all .2s ease-in-out;
}

#toplink:hover {
    background: chocolate;
    color: white;
    border-radius: 20px;
    transform: scale(1.1)
}

.MunamiiLogo {
    float: left;
    border-radius: 50%;
    position: absolute;
    transition: all .2s ease-in-out;
}

.MunamiiLogo:hover {
    transform: scale(1.2);
}

.hero-sweet {
    display: block;
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    margin-top: 10%;
    width: 50em;
    height: 10em;
    text-align: center;
    margin-left: 29%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    border-radius: 20px;
}

#hero-title {
    font-family: 'Oleo Script Swash Caps', cursive;
    color: chocolate;
    font-size: 350%;
}

/* this is the main part of the page */
#column-container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.column-left {
    display: grid;
    overflow: scroll;
    overflow-x: hidden;
    direction: rtl;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    justify-items: center;
    padding-top: 2em;
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    width: 55em;
    height: 60em;
    margin-top: 8.5%;
    margin-bottom: 8.5%;
    border-radius: 20px;
}

.merchleft {
    position: relative;
    background: rgb(163, 224, 240);
    width: 70%;
    height: auto;
    align-content: center;
    text-align: center;
    border-radius: 20px;
    transition: all .2s ease-in-out;
    margin-bottom: 10%;
}

.merchleft:hover {
    transform: scale(1.1);
    background: white;
}

.column-right {
    display: grid;
    overflow: scroll;
    overflow-x: hidden;
    direction: ltr;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    justify-items: center;
    padding-top: 2em;
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    width: 55em;
    height: 60em;
    margin-top: 8.5%;
    margin-bottom: 8.5%;
    border-radius: 20px;
}

.merchright {
    position: relative;
    background: rgb(163, 224, 240);
    width: 70%;
    height: auto;
    align-content: center;
    text-align: center;
    border-radius: 20px;
    transition: all .2s ease-in-out;
    margin-bottom: 10%;
}

.merchright:hover {
    transform: scale(1.1);
    background: white;
}

#sweet {
    width: 160px;
    max-width: 100%;
    margin-top: 10%;
    border-radius: 20px;
    aspect-ratio: 270 / 300;
}

#sweet-Name {
    color: chocolate;
    font-family: 'Oleo Script Swash Caps', cursive;
    margin-top: 5px;
    font-size: 150%;
    text-align: center;
}

#sweet-text {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 115%;
    color: chocolate;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: -1em;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 200;
}

.popup {
    display: flexbox;
    margin: 150px auto;
    padding: 20px;
    padding-bottom: 3em;
    background: rgb(163, 224, 240);
    border-radius: 20px;
    width: 30%;
    height: 60%;
    position: relative;
    transition: all 2s ease-in-out;
    border: 10px solid hotpink;
    
}

.popup h2 {
    margin-top: 0;
    font-size: 250%;
    color: chocolate;
    font-family: 'Oleo Script Swash Caps', cursive;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: hotpink;
}

.popup .close:hover {
    color: chocolate;
}

.popup .content {
    display: block;
    float: center;
    text-align: center;
    max-height: 60%;
    overflow: auto;
    font-size: 130%;
    color: chocolate;
    background-color: white;
    margin-bottom: 1em;
    padding: 1em 1em 1em 1em;
    font-family: 'Oleo Script Swash Caps', cursive;
    margin-top: 5%;
    border-radius: 20px;
}

.price-tag {
    display: block;
    margin-top: -0.3em;
    background-color: white;
    max-width: 1em;
    max-height: auto;
    float: right;
    border: 4px solid chocolate;
    border-radius: 100%;
    padding-right: 1em;
    padding-left: 0.7em ;
    text-align: center;
    font-size: 300%;
    color: chocolate;
    font-family: 'Oleo Script Swash Caps', cursive;
}



/* this is footer part */
.footer {
    left: 0;
    display: inline;
    background-color: white;
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    z-index: 1000;
}

#FB {
    height: 50px;
    width: 50px;
    margin-left: 1em;
    margin-top: 0.3em;
}

#FB:hover {
    transform: scale(1.4);
}

#INSTA {
    vertical-align: top;
    height: 50px;
    width: 50px;
    margin-left: 6em;
    margin-top: -3.3em;
}

#INSTA:hover {
    transform: scale(1.4);
}
}