@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

html {
    scroll-behavior: smooth;
}

@media only screen and (max-width: 768px) {
    body {
        background-color: pink;
    }
    
    #BckgrVid {
        display: none;
    }
    
    .topnav {
        overflow: none;
        left: 0;
        height: 105px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        gap: 5px;
        background-color: white;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }
    
    #toplink {
        float: center;
        text-align: center;
        margin-right: 1em;
        padding-right: 5px;
        padding-left: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 1px;
        top: 1;
        left: 50%;
        font-family: 'Oleo Script Swash Caps', cursive;
        font-size: 50%;
        text-decoration: none;
        background-color: chocolate;
        color: white;
        border-radius: 10px;
    }
    
    
    .MunamiiLogo {
        width: 70%;
        height: auto;
        border-radius: 100%;
        display: flex;
    }

    .big-map-container {
        border-radius: 20px;
        margin-top: 35%;
        margin-left: 5%;
        width: 90%;
        height: 35em;
        padding-top: 2%;
        padding-bottom: 1%;
        background: rgba(255, 255, 255, 0.5);
        color: #fff;
    }

    #herotitle {
        font-family: 'Oleo Script Swash Caps', cursive;
        color: chocolate;
        text-align: center;
        font-size: 250%;
    }

    #Gmap {
        width: 90%;
        height: 27em;
        margin-left: 5%;
        border-radius: 20px;
    }

    .contact-container {
        display: flexbox;
        width: 80%;
        height: 30em;
        margin-top: 5%;
        margin-left: 10%;
        margin-bottom: 25%;
        padding-top: 1em;
        padding-bottom: 4%;
        background: rgba(255, 255, 255, 0.5);
        color: #fff;
        border-radius: 20px;
    }

    .hero-contact-title {
        font-family: 'Oleo Script Swash Caps', cursive;
        color: chocolate;
        text-align: center;
        font-size: 200%;
    }

    .decolink {
        text-decoration: none;
    }

    .FB-link {
        float: left;
        display: flex;
        border-radius: 20px;
        margin-top: 1%;
        margin-left: 5%;
        width: 90%;
        padding-top: 1%;
        padding-bottom: 1%;
        background: rgb(163, 224, 240);;
        border: 3px solid hotpink;
    }

    #FB-cool {
        float: left;
        height: 6em;
        width: 6em;
        margin-left: 0.5em;
        margin-top: 0.1em;
        margin-bottom: 0.1em;
    }

    #FB-text {
        font-family: 'Oleo Script Swash Caps', cursive;
        color: chocolate;
        text-align: center;
        font-size: 100%;
        margin-top: 14%;
        margin-left: 2%;
    }

    .Insta-link {
        float: left;
        display: flex;
        border-radius: 20px;
        margin-top: 5%;
        margin-left: 5%;
        width: 90%;
        padding-top: 1%;
        padding-bottom: 1%;
        background: rgb(163, 224, 240);;
        border: 3px solid hotpink;
    }

    #Insta-cool {
        float: left;
        height: 6em;
        width: 6em;
        margin-right: 0.5em;
        margin-left: 0.5em;
        margin-top: 0.1em;
        margin-bottom: 0.1em;
    }

    #Insta-text {
        font-family: 'Oleo Script Swash Caps', cursive;
        color: chocolate;
        text-align: center;
        font-size: 90%;
        margin-top: 14%;
        margin-left: 4%;
        margin-right: 1%;
    }

    .WhatsApp {
        float: left;
        display: flex;
        border-radius: 20px;
        margin-top: 5%;
        margin-left: 5%;
        width: 90%;
        padding-top: 1%;
        padding-bottom: 1%;
        background: rgb(163, 224, 240);;
        border: 3px solid hotpink;
    }

    #Whatsapp-cool {
        float: left;
        height: 6em;
        width: 6em;
        margin-left: 0.5em;
        margin-top: 0.2em;
        margin-bottom: 0.1em;
    }

    #tele-number {
        font-family: 'Oleo Script Swash Caps', cursive;
        color: chocolate;
        text-align: center;
        font-size: 150%;
        margin-top: 14%;
        margin-left: 10%;
    }

    .footer {
        left: 0;
        display: inline-flex;
        background-color: white;
        position: fixed;
        bottom: 0;
        height: 60px;
        width: 100%;
        z-index: 1000;
    }
    
    #FB {
        height: 50px;
        width: auto;
        margin-left: 1em;
        margin-top: 0.3em;
    }
    
    #INSTA {
        vertical-align: top;
        height: 50px;
        width: auto;
        margin-left: 7em;
        margin-top: -3.3em;
    }
}

@media only screen and (min-width: 768px) {
    #BckgrVid {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
    }
    
    .topnav {
        overflow: none;
        left: 0;
        height: 70px;
        display: flexbox;
        background-color: white;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }
    
    #toplink {
        float: right;
        color: hotpink;
        text-align: center;
        padding: 14px 16px;
        font-size: 200%;
        text-decoration: none;
        list-style-type: none;
        font-family: 'Oleo Script Swash Caps', cursive;
        transition: all .2s ease-in-out;
    }
    
    #toplink:hover {
        background: chocolate;
        color: white;
        border-radius: 20px;
        transform: scale(1.1)
    }
    
    .MunamiiLogo {
        float: left;
        border-radius: 50%;
        position: absolute;
        transition: all .2s ease-in-out;
    }

    .MunamiiLogo:hover {
        transform: scale(1.2);
    }

    /* main page css part */
    .big-map-container {
        width: 75%;
        height: 40em;
        margin-top: 8%;
        margin-left: 12.5%;
        padding-top: 1em;
        padding-bottom: 4%;
        background: rgba(255, 255, 255, 0.5);
        color: #fff;
        border-radius: 20px;
        justify-content: center;
    }

    #herotitle {
        font-family: 'Oleo Script Swash Caps', cursive;
        color: chocolate;
        text-align: center;
        font-size: 300%;
    }

    #Gmap {
        width: 90%;
        height: 35em;
        margin-left: 5%;
        border-radius: 20px;
    }

    .contact-container {
        display: flexbox;
        width: 60%;
        height: 30em;
        margin-top: 2%;
        margin-left: 20%;
        margin-bottom: 5%;
        padding-top: 1em;
        padding-bottom: 4%;
        background: rgba(255, 255, 255, 0.5);
        color: #fff;
        border-radius: 20px;
    }

    .hero-contact-title {
        font-family: 'Oleo Script Swash Caps', cursive;
        color: chocolate;
        text-align: center;
        font-size: 300%;
    }

    .decolink {
        text-decoration: none;
    }

    .FB-link {
        float: left;
        display: flex;
        border-radius: 20px;
        margin-top: 1%;
        margin-left: 5%;
        width: 40%;
        padding-top: 1%;
        padding-bottom: 1%;
        background: rgb(163, 224, 240);;
        border: 3px solid hotpink;
        transition: all .2s ease-in-out;
    }

    .FB-link:hover{
        transform: scale(1.2);
        background: white;
    }

    #FB-cool {
        float: left;
        height: 6em;
        width: 6em;
        margin-left: 1em;
        margin-top: 0.3em;
    }

    #FB-text {
        font-family: 'Oleo Script Swash Caps', cursive;
        color: chocolate;
        text-align: center;
        font-size: 160%;
        margin-top: 8%;
        margin-left: 8%;
    }

    .Insta-link {
        float: right;
        display: flex;
        border-radius: 20px;
        margin-top: 1%;
        margin-right: 5%;
        width: 40%;
        padding-top: 1%;
        padding-bottom: 1%;
        background: rgb(163, 224, 240);;
        border: 3px solid hotpink;
        transition: all .2s ease-in-out;
    }

    .Insta-link:hover {
        transform: scale(1.2);
        background: white;
    }

    #Insta-cool {
        float: right;
        height: 6em;
        width: 6em;
        margin-right: 1em;
        margin-left: 2em;
        margin-top: 0.3em;
    }

    #Insta-text {
        font-family: 'Oleo Script Swash Caps', cursive;
        color: chocolate;
        text-align: center;
        font-size: 160%;
        margin-top: 8%;
        margin-left: 1em;
    }

    .WhatsApp {
        float: left;
        display: flex;
        border-radius: 20px;
        margin-top: 5%;
        margin-left: 37%;
        width: 25%;
        padding-top: 1%;
        padding-bottom: 1%;
        background: rgb(163, 224, 240);;
        border: 3px solid hotpink;
        transition: all .2s ease-in-out;
    }

    .WhatsApp:hover {
        transform: scale(1.2);
        background: white;
    }

    #Whatsapp-cool {
        float: left;
        height: 6em;
        width: 6em;
        margin-left: 1em;
        margin-top: 0.3em;
    }

    #tele-number {
        font-family: 'Oleo Script Swash Caps', cursive;
        color: chocolate;
        text-align: center;
        font-size: 160%;
        margin-top: 13%;
        margin-left: 7%;
    }

    .footer {
        left: 0;
        display: inline;
        background-color: white;
        position: fixed;
        bottom: 0;
        height: 60px;
        width: 100%;
        z-index: 1000;
    }
    
    #FB {
        height: 50px;
        width: 50px;
        margin-left: 1em;
        margin-top: 0.3em;
    }
    
    #FB:hover {
        transform: scale(1.4);
    }
    
    #INSTA {
        vertical-align: top;
        height: 50px;
        width: 50px;
        margin-left: 6em;
        margin-top: -3.3em;
    }
    
    #INSTA:hover {
        transform: scale(1.4);
    }
}